.logo-img {
  height: 50px;
  width: 65px;
  display: inline-block;
}
.header {
  border: black 2px solid;
  position: relative;
}
.header-col {
  display: inline-block;
}
.item {
  display: inline-block;
  margin-right: 15px;
}
.link {
  color: black;
  text-decoration: none;
}
.header-col-center {
  position: absolute;
  left: 450px;
}
.header-col-right {
  position: absolute;
  left: 1200px;
}
.circle {
  background-color: cadetblue;
  height: 200px;
  width: 200px;
  display: inline-block;
  margin-top: 300px;
  position: relative;
  margin-left: 100px;
}
.circle-2 {
  margin-left: 700px;
}
.circle-small {
  background-color: red;
  height: 50px;
  width: 50px;
  display: inline-block;
  position: absolute;
}
.circle-small-1 {
  left: 5px;
  top: 30px;
}
.circle-small-2 {
  bottom: 0px;
  right: 0px;
}
.circle-small-3 {
  left: 100px;
  bottom: 200px;
}
.circle-small-4 {
  left: 200px;
}
.circle-small-5 {
  right: 0px;
  bottom: 200px;
}
.circle-small-6 {
  right: 0px;
}
